:root {
  --main-tittle-text-color: #ffffff;
  --text-all: #757575;
  --tittle-text--color: #212121;
  --buttons-active-color: #2196f3;
  --button-bakground: #f5f4fa;
  --footer-main-sections-bacground: #2f303a;
  --border-conteiners: #EEEEEE; 
  --icons-color: #AFB1B8;
  --background-footer-icons: rgba(255, 255, 255, 0.1);
  --timing:(0.4, 0, 0.2, 1);
}

/* header-section main*/
.nav-list{
  display: flex;
  margin-left: 93px;
}
.nav-list .nav-item:not(:last-child){
  margin-right: 50px;
}
.header-nav-s-list{
  display: flex;
  align-items: center;
}
.nav-list .nav-item{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-links{
  display: inline-block;
  display: flex;
  margin-left: auto;
}
.header-links .nav-item + .nav-item{
  margin-left: 50px;
}
.head-main{
  border-bottom: 1px solid var(--border-conteiners);
}
.nav-item a{
  fill: var(--icons-color);
  display: flex;
  align-items: center;
}

.icons-head{
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
  fill: currentColor;
}
.mail:active,
.mail:hover{
  fill: var(--buttons-active-color);
}
.underline{
  transition: color 250ms var(--buttons-active-color);
}

.active{
  position: relative;
}
.active::after{
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  bottom: -32px; 
}


/*webstudio*/
/* wecstudio-section-main*/
.main-section-head {
  background: var(--footer-main-sections-bacground);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.main-section-tittle-text {
  color: var(--main-tittle-text-color);
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.overlay{
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
  url("../images/main-pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* studio button pg*/

.studio-button {
  display: block;
  margin: auto;
  background: var(--buttons-active-color);
  color: var(--main-tittle-text-color);
  width: 200px;
  height: 50px; 
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.studio-button:hover{
  background: #188CE8;
}

/* first what we do*/
.what-we-do-text-section{
  display: flex;
  justify-content: center;
}
.what-we-do-text-section .first-section-content:not(:last-child){
  margin-right: 30px;
}
.first-section-content h3{
  margin-bottom: 10px;
}
.first-section-title {
  color: var(--tittle-text--color);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.icon-first{
  width: 70px;
  height: 70px;
}
.first-section-description{
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bakground);
  border-radius: 4px;
  margin-bottom: 30px;
}


/* images*/
.thrd-section{
  padding-top: 0;
}
.what-we-do-section-images{
  display: flex;
  justify-content: space-between;
}

.first-text-section-studio-title {
  color: var(--tittle-text--color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.first-text-section-studio-text {
  color: var(--text-all);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.what-we-do-block{
  position: relative;
  display: flex;
}
.what-we-do-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  color: var(--main-tittle-text-color);
  width: 370px;
  height: 70px;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

/* our team section*/
.tittle-second-section{
  justify-content: center;
  padding-bottom: 50px;
}
.our-team-section-members{
  display: flex;
  justify-content: space-between;
}

.our-team-section-members h3{
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.our-team-section-members p{
  text-align: center;
  margin-bottom: 16px;
}
.members {
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
 padding-bottom: 30px;
 background: var(--main-tittle-text-color);
}
/* icons */
.icons-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-list li:not(:first-child){
  margin-left: 10px;
}

.icons-list-social-link{
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icons-color)
}
.icon-social{
  width: 20px;
  height: 20px;
}

.icons-list-social-link:hover,
.icons-list-social-link:active {
 fill: var(--main-tittle-text-color);
 background: var(--buttons-active-color);
 border-radius: 50%;
}
.icons-list-social-link{
  fill: var(--icons-color);
}

/* our team section*/
.tittle-second-section {
  color: var(--tittle-text--color);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
}

.second-section-title {
  color: var(--tittle-text--color);
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.second-section-text {
  color: var(--text-all);
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
/*PORTFOLIO*/
/* portfolio*/

.portfolio-section-imgs{
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-conteiner-imgs{
  width: calc( ( 100% - 90px ) / 3 );
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--border-conteiners);
}
.portfolio-conteiner-imgs:nth-child(3n){
  margin-right: 0;
}
.portfolio-conteiner-imgs:nth-last-child(-n+3){
  margin-bottom: 0;
}
.our-section{
  background: var(--button-bakground) ;
}
/* portfolio text section*/

.portfolio-images-tittle {
  color: var(--tittle-text--color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-imgs-borders{
  padding: 20px 24px;
}
.portfolio-images-text {
  color: var(--text-all);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/*buttons on portfolio pg*/
.portfolio-buttons{
  display: flex;
  justify-content:center;
  border: none;
  margin-bottom: 34px;
  border-radius: 4px;
}

.buttons-item:not(:first-child){
  padding-left: 8px;
}

/* portfolio overlay*/

.thumb{
  overflow: hidden;
  position: relative;
}
.portfolio-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-overlay-text{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--main-tittle-text-color);
  font-size: 18px;
  line-height: 1.56;
}

.portfolio-items:hover, 
.portfolio-items:focus {
  display: block;
  background: var(--main-tittle-text-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
}
.portfolio-conteiner-imgs:hover .portfolio-overlay {
  opacity: 1;
  transform: translate(0);
}
/*buttons active tm*/
.buttons {
  font-weight: 500;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  background: var(--button-bakground);
  color: var(--tittle-text--color);
  border: none;
  display: inline-block;
  padding: 6px 22px;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.buttons:hover {
  background: var(--buttons-active-color);
  color: var(--main-tittle-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.buttons:focus {
  background: var(--buttons-active-color);
  color: var(--main-tittle-text-color);
}
.buttons:active {
  background: var(--buttons-active-color);
  color: var(--main-tittle-text-color);
}
.buttons {
  cursor: pointer;
}
/* clients companys*/
.clients-title{
  color: var(--tittle-text--color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 50px;
}
.clients-list{
  display: flex;
}
.clients-list-item:not(:last-child){
  margin-right: 30px;
}
.clients-list-item svg{
  margin: 16px 32px;
  width: 106px;
  height: 60px;
  fill: var(--icons-color);
  background-color: var(--main-tittle-text-color);
}
.client-list-link{
  border: 1px solid var(--icons-color);
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 3px;
}
.client-list-link:active,
.client-list-link:hover{
  border-color: var(--buttons-active-color); 
}
.client-list-link:active .icon-client,
.client-list-link:hover .icon-client{
  fill: var(--buttons-active-color);
}
/* footer section*/
.footer-content{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.footer-links li:not(:last-child){
  margin-bottom: 9px;
}

.footer-section {
  background: var(--footer-main-sections-bacground);
}

.adress-in-foot {
  font-style: normal;
}
.adress-in-foot {
  color: var(--main-tittle-text-color);
}

.footer-social{
  margin-left: 70px;
}
.footer-social p{
  font-weight: bold;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--main-tittle-text-color);
  margin-bottom: 20px;
}
.icons-footer{
  width: 206px;
  display: flex;
  align-items: center;
}
.icons-list-footer:not(:last-child) {
  margin-right: 10px;
}
.icons-footer-link{
    display: flex;
    background-color: var(--background-footer-icons);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.icon-footer{
    width: 20px;
    height: 20px;
    fill: var(--main-tittle-text-color);
}
.icons-footer-link:hover, 
.icons-footer-link:focus {
  fill: var(--main-tittle-text-color);
  background: var(--buttons-active-color);
  border-radius: 50%;
}

/* links */
.link {
  color: var(--tittle-text--color);
  font-weight: 500;
}

.link:hover {
    color: var(--buttons-active-color);
  }
.link:active{
    color: var(--buttons-active-color);
  }
.link:focus {
  color: var(--buttons-active-color);
}

.link-adress {
  color: var(--text-all);
  font-weight: 500;
}
.link-adress:hover{
    color: var(--buttons-active-color);
  } 
.link-adress:active{
    color: var(--buttons-active-color);
  } 
.link-adress:focus {
  color: var(--buttons-active-color);
}
.link.active{
    color: var(--buttons-active-color);
}
/* logo */
.logo {
  font-family: "Raleway";
  color: var(--tittle-text--color);
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.link-logo {
  color: var(--buttons-active-color);
}
.foot {
  color: var(--main-tittle-text-color);
  margin-bottom: 20px;
  display: inline-block;
}

/* backdrop*/
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4,0,0.2,1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 15px;
  background: var(--main-tittle-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1), visibility 250ms cubic-bezier(0.4,0,0.2,1);
}
.modal button{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  right: 8px;
  top: 8px;
  background-color: var(--main-tittle-text-color);
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0.8);
}
